# Временно отключено для локальной разработки
# <Files "wp-login.php">
# Order Deny,Allow
# Deny from all
# Allow from 46.150.17.212
# </Files>
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/API/summary [NC]
RewriteRule .* - [F,L]
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /corona.ps/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /corona.ps/index.php [L]
</IfModule>

# END WordPress
